
/* Form */

.form-container{
    display: flex;
    flex-flow: column ;
    width: 60rem;
}
.form-container h1{
    margin-bottom: 2rem;
}
.form-control{
    display: flex;
    flex-flow: column;
    margin: 2rem 0;
}

.form-control label{
    margin-bottom: 1rem;
}

.form-control input{
    border: var(--border);
    border-radius: 4px;
    padding: 1rem 1.5rem;
}
.form-control select{
    border: var(--border);
    border-radius: 4px;
    padding: 1rem 1.5rem;
}

.form-control textarea{
    border: var(--border);
    min-height: 20rem;
    border-radius: 4px;
    padding: 1rem 1.5rem;
}
.form-action{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

@media only screen and (max-width: 800px){
    .content{
        flex-flow: row;
    }
}