.articles-container{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center ;
    align-items: flex-start;
}

.filter-category{
    flex: 1;
    padding: 0;
}
.filter-category li{
    padding: 0.5rem 0;
}
.filter-category li:hover{
    color: var(--primary);
}
.filter-category li .active{
    color: var(--primary);
    font-weight: bold;
}

.category-container{
    flex: 3;
}
.category-container h2{
    padding: 0 1rem;
}

.news-container{
    width: 100%;
    display: flex;
    flex-flow: row ;
}

.article{
    flex:30%;
    margin: 1rem;
    min-height: 41rem;
    cursor: pointer;
}
.article:hover .img-container{
   transform: scale(1.2);
}
.article h3{
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
}

.article-author{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.article-author p{
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.img-container{
    height: 30rem;
    background-size: cover;
    transition: transform 0.4s;
}

@media only screen and (max-width: 800px){
    .news-container{
        flex-flow: column ;
    }
    .news-container .filter-category{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        padding: 2rem;
    }
    .news-container .filter-category li a{
        display: flex;
        padding: 2rem;
    }
    .news-container .articles-container{
        flex-flow: column nowrap;
        justify-content: center;
    }
    .news-container .articles-container .article{
        width: 95%;
    }
}